[submodule "Practica0/Practica0"]
	path = Practica0/Practica0
	url = https://git@git.overleaf.com/68a3c56eec817cec4dab18ee
[submodule "Practica0/68a3c56eec817cec4dab18ee"]
	path = Practica0/ReporteLatex
	url = https://git@git.overleaf.com/68a3c56eec817cec4dab18ee
